* {
    margin: 0;
    padding: 0;
    font-family:  "Comic Sans MS", cursive, sans-serif;
}

.container {
    width: 100;
    min-height: 100vh;
    background-color: #9ec9d2;
    padding: 10px;
}

.task-app {
    width: 100%;
    max-width: 550px;
    background: #2a6c7a;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.task-app h2 {
    color: #c2dce1;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.task-app img {
    width: 50px;
    height: 50px;
    margin-left: 20%;
    padding: auto;
    display: flex;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #abd3db93;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: darkslateblue;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #cfe4e8;
    font-size: 15;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color:#cfe4e8;
}

ul li ::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #e1edf0;
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 10px;
}

ul li.checked {
    color:#6d969e;
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #cfe4e8;
    line-height: 40px;
    text-align: center;
}

